In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv("50_Startups.csv")
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87              NaN  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08             NaN        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [3]:
dataset.isnull().any()

R&D Spend          False
Administration      True
Marketing Spend     True
State              False
Profit             False
dtype: bool

In [4]:
dataset["Administration"].mean()

121564.03816326526

In [5]:
x = dataset.iloc[:,:4].values
y = dataset.iloc[:,4:5].values

In [6]:
x

array([[165349.2, 136897.8, 471784.1, 'New York'],
       [162597.7, 151377.59, 443898.53, 'California'],
       [153441.51, 101145.55, 407934.54, 'Florida'],
       [144372.41, 118671.85, 383199.62, 'New York'],
       [142107.34, 91391.77, 366168.42, 'Florida'],
       [131876.9, 99814.71, 362861.36, 'New York'],
       [134615.46, 147198.87, nan, 'California'],
       [130298.13, 145530.06, 323876.68, 'Florida'],
       [120542.52, 148718.95, 311613.29, 'New York'],
       [123334.88, 108679.17, 304981.62, 'California'],
       [101913.08, nan, 229160.95, 'Florida'],
       [100671.96, 91790.61, 249744.55, 'California'],
       [93863.75, 127320.38, 249839.44, 'Florida'],
       [91992.39, 135495.07, 252664.93, 'California'],
       [119943.24, 156547.42, 256512.92, 'Florida'],
       [114523.61, 122616.84, 261776.23, 'New York'],
       [78013.11, 121597.55, 264346.06, 'California'],
       [94657.16, 145077.58, 282574.31, 'New York'],
       [91749.16, 114175.79, 294919.57, 'Florida'],
       [86419.7, 153514.11, 0.0, 'New York'],
       [76253.86, 113867.3, 298664.47, 'California'],
       [78389.47, 153773.43, 299737.29, 'New York'],
       [73994.56, 122782.75, 303319.26, 'Florida'],
       [67532.53, 105751.03, 304768.73, 'Florida'],
       [77044.01, 99281.34, 140574.81, 'New York'],
       [64664.71, 139553.16, 137962.62, 'California'],
       [75328.87, 144135.98, 134050.07, 'Florida'],
       [72107.6, 127864.55, 353183.81, 'New York'],
       [66051.52, 182645.56, 118148.2, 'Florida'],
       [65605.48, 153032.06, 107138.38, 'New York'],
       [61994.48, 115641.28, 91131.24, 'Florida'],
       [61136.38, 152701.92, 88218.23, 'New York'],
       [63408.86, 129219.61, 46085.25, 'California'],
       [55493.95, 103057.49, 214634.81, 'Florida'],
       [46426.07, 157693.92, 210797.67, 'California'],
       [46014.02, 85047.44, 205517.64, 'New York'],
       [28663.76, 127056.21, 201126.82, 'Florida'],
       [44069.95, 51283.14, 197029.42, 'California'],
       [20229.59, 65947.93, 185265.1, 'New York'],
       [38558.51, 82982.09, 174999.3, 'California'],
       [28754.33, 118546.05, 172795.67, 'California'],
       [27892.92, 84710.77, 164470.71, 'Florida'],
       [23640.93, 96189.63, 148001.11, 'California'],
       [15505.73, 127382.3, 35534.17, 'New York'],
       [22177.74, 154806.14, 28334.72, 'California'],
       [1000.23, 124153.04, 1903.93, 'New York'],
       [1315.46, 115816.21, 297114.46, 'Florida'],
       [0.0, 135426.92, 0.0, 'California'],
       [542.05, 51743.15, 0.0, 'New York'],
       [0.0, 116983.8, 45173.06, 'California']], dtype=object)

In [7]:
y

array([[192261.83],
       [191792.06],
       [191050.39],
       [182901.99],
       [166187.94],
       [156991.12],
       [156122.51],
       [155752.6 ],
       [152211.77],
       [149759.96],
       [146121.95],
       [144259.4 ],
       [141585.52],
       [134307.35],
       [132602.65],
       [129917.04],
       [126992.93],
       [125370.37],
       [124266.9 ],
       [122776.86],
       [118474.03],
       [111313.02],
       [110352.25],
       [108733.99],
       [108552.04],
       [107404.34],
       [105733.54],
       [105008.31],
       [103282.38],
       [101004.64],
       [ 99937.59],
       [ 97483.56],
       [ 97427.84],
       [ 96778.92],
       [ 96712.8 ],
       [ 96479.51],
       [ 90708.19],
       [ 89949.14],
       [ 81229.06],
       [ 81005.76],
       [ 78239.91],
       [ 77798.83],
       [ 71498.49],
       [ 69758.98],
       [ 65200.33],
       [ 64926.08],
       [ 49490.75],
       [ 42559.73],
       [ 35673.41],
       [ 14681.4 ]])

In [8]:
x.shape

(50, 4)

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [10]:
ct=ColumnTransformer([("one", OneHotEncoder(), [3])], remainder="passthrough")
x=ct.fit_transform(x)

In [11]:
x.shape

(50, 6)

In [13]:
y.shape

(50, 1)

In [15]:
dataset.head(10)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87              NaN  California  156122.51
7  130298.13       145530.06        323876.68     Florida  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test= train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
print("x_train shape", "\t", x_train.shape)
print("x_test shape", "\t", x_test.shape)
print("y_train shape", "\t", y_train.shape)
print("y_test shape", "\t", y_test.shape)
print("x shape", "\t", x.shape)
print("y shape", "\t", y.shape)

x_train shape 	 (40, 6)
x_test shape 	 (10, 6)
y_train shape 	 (40, 1)
y_test shape 	 (10, 1)
x shape 	 (50, 6)
y shape 	 (50, 1)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [20]:
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [21]:
regression = Sequential()

In [22]:
regression.add(Dense( units=6 , kernel_initializer= "random_uniform", activation="relu"))

WARNING:tensorflow:From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [24]:
regression.add(Dense( units= 12, kernel_initializer= "random_uniform", activation="relu"))

In [25]:
regression.add(Dense( units= 1, kernel_initializer= "random_uniform", activation="relu"))

In [26]:
regression.compile(optimizer = "adam", loss = "mse", metrics=['mse'])

In [27]:
regression.fit(x_train,y_train, epochs=50)

Epoch 1/50
40/40 [==============================] - 1s 13ms/sample - loss: nan - mean_squared_error: nan
Epoch 2/50
40/40 [==============================] - 0s 443us/sample - loss: nan - mean_squared_error: nan
Epoch 3/50
40/40 [==============================] - 0s 436us/sample - loss: nan - mean_squared_error: nan
Epoch 4/50
40/40 [==============================] - 0s 448us/sample - loss: nan - mean_squared_error: nan
Epoch 5/50
40/40 [==============================] - 0s 458us/sample - loss: nan - mean_squared_error: nan
Epoch 6/50
40/40 [==============================] - 0s 458us/sample - loss: nan - mean_squared_error: nan
Epoch 7/50
40/40 [==============================] - 0s 658us/sample - loss: nan - mean_squared_error: nan
Epoch 8/50
40/40 [==============================] - 0s 549us/sample - loss: nan - mean_squared_error: nan
Epoch 9/50
40/40 [==============================] - 0s 323us/sample - loss: nan - mean_squared_error: nan
Epoch 10/50
40/40 [==============================] - 0s 1ms/sample - loss: nan - mean_squared_error: nan
Epoch 11/50
40/40 [==============================] - 0s 536us/sample - loss: nan - mean_squared_error: nan
Epoch 12/50
40/40 [==============================] - 0s 370us/sample - loss: nan - mean_squared_error: nan
Epoch 13/50
40/40 [==============================] - 0s 434us/sample - loss: nan - mean_squared_error: nan
Epoch 14/50
40/40 [==============================] - 0s 611us/sample - loss: nan - mean_squared_error: nan
Epoch 15/50
40/40 [==============================] - 0s 348us/sample - loss: nan - mean_squared_error: nan
Epoch 16/50
40/40 [==============================] - 0s 385us/sample - loss: nan - mean_squared_error: nan
Epoch 17/50
40/40 [==============================] - 0s 326us/sample - loss: nan - mean_squared_error: nan
Epoch 18/50
40/40 [==============================] - 0s 322us/sample - loss: nan - mean_squared_error: nan
Epoch 19/50
40/40 [==============================] - 0s 151us/sample - loss: nan - mean_squared_error: nan
Epoch 20/50
40/40 [==============================] - 0s 514us/sample - loss: nan - mean_squared_error: nan
Epoch 21/50
40/40 [==============================] - 0s 321us/sample - loss: nan - mean_squared_error: nan
Epoch 22/50
40/40 [==============================] - 0s 359us/sample - loss: nan - mean_squared_error: nan
Epoch 23/50
40/40 [==============================] - 0s 328us/sample - loss: nan - mean_squared_error: nan
Epoch 24/50
40/40 [==============================] - 0s 773us/sample - loss: nan - mean_squared_error: nan
Epoch 25/50
40/40 [==============================] - 0s 279us/sample - loss: nan - mean_squared_error: nan
Epoch 26/50
40/40 [==============================] - 0s 344us/sample - loss: nan - mean_squared_error: nan
Epoch 27/50
40/40 [==============================] - 0s 322us/sample - loss: nan - mean_squared_error: nan
Epoch 28/50
40/40 [==============================] - 0s 25us/sample - loss: nan - mean_squared_error: nan
Epoch 29/50
40/40 [==============================] - 0s 246us/sample - loss: nan - mean_squared_error: nan
Epoch 30/50
40/40 [==============================] - 0s 306us/sample - loss: nan - mean_squared_error: nan
Epoch 31/50
40/40 [==============================] - 0s 298us/sample - loss: nan - mean_squared_error: nan
Epoch 32/50
40/40 [==============================] - 0s 734us/sample - loss: nan - mean_squared_error: nan
Epoch 33/50
40/40 [==============================] - 0s 288us/sample - loss: nan - mean_squared_error: nan
Epoch 34/50
40/40 [==============================] - 0s 133us/sample - loss: nan - mean_squared_error: nan
Epoch 35/50
40/40 [==============================] - 0s 406us/sample - loss: nan - mean_squared_error: nan
Epoch 36/50
40/40 [==============================] - 0s 401us/sample - loss: nan - mean_squared_error: nan
Epoch 37/50
40/40 [==============================] - 0s 240us/sample - loss: nan - mean_squared_error: nan
Epoch 38/50
40/40 [==============================] - 0s 190us/sample - loss: nan - mean_squared_error: nan
Epoch 39/50
40/40 [==============================] - 0s 213us/sample - loss: nan - mean_squared_error: nan
Epoch 40/50
40/40 [==============================] - 0s 222us/sample - loss: nan - mean_squared_error: nan
Epoch 41/50
40/40 [==============================] - 0s 233us/sample - loss: nan - mean_squared_error: nan
Epoch 42/50
40/40 [==============================] - 0s 201us/sample - loss: nan - mean_squared_error: nan
Epoch 43/50
40/40 [==============================] - 0s 184us/sample - loss: nan - mean_squared_error: nan
Epoch 44/50
40/40 [==============================] - 0s 313us/sample - loss: nan - mean_squared_error: nan
Epoch 45/50
40/40 [==============================] - 0s 168us/sample - loss: nan - mean_squared_error: nan
Epoch 46/50
40/40 [==============================] - 0s 403us/sample - loss: nan - mean_squared_error: nan
Epoch 47/50
40/40 [==============================] - 0s 305us/sample - loss: nan - mean_squared_error: nan
Epoch 48/50
40/40 [==============================] - 0s 367us/sample - loss: nan - mean_squared_error: nan
Epoch 49/50
40/40 [==============================] - 0s 301us/sample - loss: nan - mean_squared_error: nan
Epoch 50/50
40/40 [==============================] - 0s 493us/sample - loss: nan - mean_squared_error: nan

In [28]:
ypred = regression.predict(x_test)

In [29]:
ypred

array([[nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan]], dtype=float32)