In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('bank.csv')

In [3]:
data.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes

In [4]:
data.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [5]:
inputs = data.iloc[:, :16].values
outputs = data.iloc[:, -1:].values

In [6]:
inputs[0:2]

array([[59, 'admin.', 'married', 'secondary', 'no', 2343, 'yes', 'no',
        'unknown', 5, 'may', 1042, 1, -1, 0, 'unknown'],
       [56, 'admin.', 'married', 'secondary', 'no', 45, 'no', 'no',
        'unknown', 5, 'may', 1467, 1, -1, 0, 'unknown']], dtype=object)

In [7]:
outputs.shape

(11162, 1)

In [8]:
outputs

array([['yes'],
       ['yes'],
       ['yes'],
       ...,
       ['no'],
       ['no'],
       ['no']], dtype=object)

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [10]:
ct = ColumnTransformer([('one', OneHotEncoder(), [1,2,3,4,6,7,8,10,15])], remainder = 'passthrough')
inputs = ct.fit_transform(inputs)

cto = ColumnTransformer([('one', OneHotEncoder(), [0])], remainder = 'passthrough')
outputs = cto.fit_transform(outputs)

In [11]:
inputs.shape

(11162, 51)

In [12]:

inputs

array([[1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       [0.0, 0.0, 0.0, ..., 1, -1, 0],
       ...,
       [0.0, 0.0, 0.0, ..., 2, -1, 0],
       [0.0, 0.0, 0.0, ..., 2, 172, 5],
       [0.0, 0.0, 0.0, ..., 1, -1, 0]], dtype=object)

In [13]:
outputs

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(inputs,outputs,test_size = 0.2, random_state = 0)

In [17]:
print('Inputs shape ', inputs.shape)
print('Outputs shape ', outputs.shape)
print('x_train shape ', x_train.shape)
print('x_test shape ', x_test.shape)
print('y_train shape ', y_train.shape)
print('y_test shape', y_test.shape)

Inputs shape  (11162, 51)
Outputs shape  (11162, 2)
x_train shape  (8929, 51)
x_test shape  (2233, 51)
y_train shape  (8929, 2)
y_test shape (2233, 2)

In [18]:
from sklearn.preprocessing import StandardScaler

In [20]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [21]:
x_train

array([[-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192,  2.18530314, -0.17658264, ...,  0.92827075,
        -0.48428507, -0.35888264],
       ...,
       [-0.37172192, -0.45760242, -0.17658264, ...,  2.04743488,
        -0.48428507, -0.35888264],
       [ 2.69018306, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264],
       [-0.37172192, -0.45760242, -0.17658264, ..., -0.56394809,
        -0.48428507, -0.35888264]])

In [22]:
x_test

array([[-0.35506564, -0.46571851, -0.16329932, ..., -0.51893725,
         2.62409874,  0.62465525],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.51893725,
         1.30248101,  1.63872661],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612],
       ...,
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612],
       [ 2.81638066, -0.46571851, -0.16329932, ..., -0.51893725,
        -0.46885387, -0.38941612],
       [-0.35506564, -0.46571851, -0.16329932, ..., -0.17189116,
        -0.46885387, -0.38941612]])

# ANN MODELLING

In [23]:
from tensorflow.keras.models import Sequential  
from tensorflow.keras.layers import Dense

In [24]:
categorical = Sequential()

In [25]:
categorical.add(Dense(units = 51, kernel_initializer = 'random_uniform', activation = 'relu'))

WARNING:tensorflow:From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [26]:
categorical.add(Dense(units = 102, kernel_initializer = 'random_uniform', activation = 'relu'))

In [27]:
categorical.add(Dense(units = 102, kernel_initializer = 'random_uniform', activation = 'relu'))

In [28]:
categorical.add(Dense(units = 2, kernel_initializer = 'random_uniform', activation = 'softmax'))

In [29]:
categorical.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [30]:
categorical.fit(x_train, y_train, epochs = 50)

Epoch 1/50
8929/8929 [==============================] - 1s 127us/sample - loss: 0.4332 - acc: 0.7989
Epoch 2/50
8929/8929 [==============================] - 1s 92us/sample - loss: 0.3565 - acc: 0.8493
Epoch 3/50
8929/8929 [==============================] - 1s 115us/sample - loss: 0.3434 - acc: 0.8571
Epoch 4/50
8929/8929 [==============================] - 1s 117us/sample - loss: 0.3336 - acc: 0.8615
Epoch 5/50
8929/8929 [==============================] - 1s 100us/sample - loss: 0.3233 - acc: 0.8655
Epoch 6/50
8929/8929 [==============================] - 1s 107us/sample - loss: 0.3166 - acc: 0.8703
Epoch 7/50
8929/8929 [==============================] - 1s 117us/sample - loss: 0.3131 - acc: 0.8684
Epoch 8/50
8929/8929 [==============================] - 1s 111us/sample - loss: 0.3045 - acc: 0.8767
Epoch 9/50
8929/8929 [==============================] - 1s 106us/sample - loss: 0.2963 - acc: 0.8779
Epoch 10/50
8929/8929 [==============================] - 1s 95us/sample - loss: 0.2934 - acc: 0.8830
Epoch 11/50
8929/8929 [==============================] - 1s 102us/sample - loss: 0.2904 - acc: 0.8805
Epoch 12/50
8929/8929 [==============================] - 1s 88us/sample - loss: 0.2879 - acc: 0.8809
Epoch 13/50
8929/8929 [==============================] - 1s 88us/sample - loss: 0.2804 - acc: 0.8845
Epoch 14/50
8929/8929 [==============================] - 1s 87us/sample - loss: 0.2750 - acc: 0.8857
Epoch 15/50
8929/8929 [==============================] - 1s 87us/sample - loss: 0.2708 - acc: 0.8873
Epoch 16/50
8929/8929 [==============================] - 1s 86us/sample - loss: 0.2644 - acc: 0.8889
Epoch 17/50
8929/8929 [==============================] - 1s 84us/sample - loss: 0.2581 - acc: 0.8923
Epoch 18/50
8929/8929 [==============================] - 1s 88us/sample - loss: 0.2527 - acc: 0.8951
Epoch 19/50
8929/8929 [==============================] - 1s 85us/sample - loss: 0.2505 - acc: 0.8953
Epoch 20/50
8929/8929 [==============================] - 1s 87us/sample - loss: 0.2418 - acc: 0.8977
Epoch 21/50
8929/8929 [==============================] - 1s 86us/sample - loss: 0.2362 - acc: 0.8979
Epoch 22/50
8929/8929 [==============================] - 1s 84us/sample - loss: 0.2289 - acc: 0.9033
Epoch 23/50
8929/8929 [==============================] - 1s 87us/sample - loss: 0.2281 - acc: 0.9044
Epoch 24/50
8929/8929 [==============================] - 1s 98us/sample - loss: 0.2181 - acc: 0.9086
Epoch 25/50
8929/8929 [==============================] - 1s 107us/sample - loss: 0.2256 - acc: 0.9005
Epoch 26/50
8929/8929 [==============================] - 1s 108us/sample - loss: 0.2072 - acc: 0.9101
Epoch 27/50
8929/8929 [==============================] - 1s 111us/sample - loss: 0.2029 - acc: 0.9112
Epoch 28/50
8929/8929 [==============================] - 1s 110us/sample - loss: 0.1959 - acc: 0.9132
Epoch 29/50
8929/8929 [==============================] - 1s 106us/sample - loss: 0.1854 - acc: 0.9193
Epoch 30/50
8929/8929 [==============================] - 1s 109us/sample - loss: 0.1773 - acc: 0.9214
Epoch 31/50
8929/8929 [==============================] - 1s 110us/sample - loss: 0.1874 - acc: 0.9148
Epoch 32/50
8929/8929 [==============================] - 1s 112us/sample - loss: 0.1697 - acc: 0.9251
Epoch 33/50
8929/8929 [==============================] - 1s 112us/sample - loss: 0.1619 - acc: 0.9300
Epoch 34/50
8929/8929 [==============================] - 1s 112us/sample - loss: 0.1689 - acc: 0.9263
Epoch 35/50
8929/8929 [==============================] - 1s 110us/sample - loss: 0.1620 - acc: 0.9273
Epoch 36/50
8929/8929 [==============================] - 1s 114us/sample - loss: 0.1468 - acc: 0.9343
Epoch 37/50
8929/8929 [==============================] - 1s 113us/sample - loss: 0.1687 - acc: 0.9283
Epoch 38/50
8929/8929 [==============================] - 1s 108us/sample - loss: 0.1373 - acc: 0.9405
Epoch 39/50
8929/8929 [==============================] - 1s 110us/sample - loss: 0.1307 - acc: 0.9443
Epoch 40/50
8929/8929 [==============================] - 1s 105us/sample - loss: 0.1316 - acc: 0.9411
Epoch 41/50
8929/8929 [==============================] - 1s 83us/sample - loss: 0.1274 - acc: 0.9467
Epoch 42/50
8929/8929 [==============================] - 1s 86us/sample - loss: 0.1279 - acc: 0.9485
Epoch 43/50
8929/8929 [==============================] - 1s 84us/sample - loss: 0.1232 - acc: 0.9473
Epoch 44/50
8929/8929 [==============================] - 1s 70us/sample - loss: 0.1298 - acc: 0.9449
Epoch 45/50
8929/8929 [==============================] - 1s 73us/sample - loss: 0.1217 - acc: 0.9505
Epoch 46/50
8929/8929 [==============================] - 1s 76us/sample - loss: 0.1089 - acc: 0.9562
Epoch 47/50
8929/8929 [==============================] - 1s 74us/sample - loss: 0.0996 - acc: 0.9569
Epoch 48/50
8929/8929 [==============================] - 1s 74us/sample - loss: 0.1020 - acc: 0.9554
Epoch 49/50
8929/8929 [==============================] - 1s 73us/sample - loss: 0.1112 - acc: 0.9533
Epoch 50/50
8929/8929 [==============================] - 1s 76us/sample - loss: 0.0960 - acc: 0.9592

In [31]:
ypred = categorical.predict(x_test)

In [32]:
ypred[0]

array([9.9980789e-01, 1.9212929e-04], dtype=float32)

In [33]:
ypred[0]>0.5

array([ True, False])

In [34]:
data.head(100)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
5,42,management,single,tertiary,no,0,yes,yes,unknown,5,may,562,2,-1,0,unknown,yes
6,56,management,married,tertiary,no,830,yes,yes,unknown,6,may,1201,1,-1,0,unknown,yes
7,60,retired,divorced,secondary,no,545,yes,no,unknown,6,may,1030,1,-1,0,unknown,yes
8,37,technician,married,secondary,no,1,yes,no,unknown,6,may,608,1,-1,0,unknown,yes
9,28,services,single,secondary,no,5090,yes,no,unknown,6,may,1297,3,-1,0,unknown,yes
10,38,admin.,single,secondary,no,100,yes,no,unknown,7,may,786,1,-1,0,unknown,yes
11,30,blue-collar,married,secondary,no,309,yes,no,unknown,7,may,1574,2,-1,0,unknown,yes
12,29,management,married,tertiary,no,199,yes,yes,unknown,7,may,1689,4,-1,0,unknown,yes
13,46,blue-collar,single,tertiary,no,460,yes,no,unknown,7,may,1102,2,-1,0,unknown,yes
14,31,technician,single,tertiary,no,703,yes,no,unknown,8,may,943,2,-1,0,unknown,yes
15,35,management,divorced,tertiary,no,3837,yes,no,unknown,8,may,1084,1,-1,0,unknown,yes
16,32,blue-collar,single,primary,no,611,yes,no,unknown,8,may,541,3,-1,0,unknown,yes
17,49,services,married,secondary,no,-8,yes,no,unknown,8,may,1119,1,-1,0,unknown,yes
18,41,admin.,married,secondary,no,55,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
19,49,admin.,divorced,secondary,no,168,yes,yes,unknown,8,may,513,1,-1,0,unknown,yes
20,28,admin.,divorced,secondary,no,785,yes,no,unknown,8,may,442,2,-1,0,unknown,yes
21,43,management,single,tertiary,no,2067,yes,no,unknown,8,may,756,1,-1,0,unknown,yes
22,43,management,divorced,tertiary,no,388,yes,no,unknown,8,may,2087,2,-1,0,unknown,yes
23,43,blue-collar,married,primary,no,-192,yes,no,unknown,8,may,1120,2,-1,0,unknown,yes
24,37,unemployed,single,secondary,no,381,yes,no,unknown,8,may,985,2,-1,0,unknown,yes
25,35,blue-collar,single,secondary,no,40,yes,no,unknown,9,may,617,4,-1,0,unknown,yes
26,31,technician,single,tertiary,no,22,yes,no,unknown,9,may,483,3,-1,0,unknown,yes
27,43,blue-collar,single,secondary,no,3,yes,no,unknown,9,may,929,3,-1,0,unknown,yes
28,31,admin.,married,secondary,no,307,yes,no,unknown,9,may,538,1,-1,0,unknown,yes
29,28,blue-collar,single,secondary,no,759,yes,no,unknown,9,may,710,1,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,60,services,single,primary,no,313,yes,no,unknown,15,may,920,2,-1,0,unknown,yes
71,29,management,married,tertiary,no,10576,no,no,unknown,15,may,1224,2,-1,0,unknown,yes
72,41,retired,divorced,primary,no,-233,yes,no,unknown,15,may,1156,2,-1,0,unknown,yes
73,41,blue-collar,married,primary,no,2453,yes,no,unknown,15,may,1052,1,-1,0,unknown,yes
74,42,technician,single,secondary,no,1364,yes,no,unknown,15,may,1867,6,-1,0,unknown,yes
75,36,services,single,unknown,no,281,yes,no,unknown,16,may,515,1,-1,0,unknown,yes
76,39,technician,married,tertiary,no,94,yes,yes,unknown,16,may,813,1,-1,0,unknown,yes
77,31,self-employed,single,tertiary,no,144,yes,no,unknown,16,may,676,1,-1,0,unknown,yes
78,26,blue-collar,married,secondary,no,246,yes,no,unknown,16,may,1143,3,-1,0,unknown,yes
79,31,blue-collar,married,secondary,no,92,yes,no,unknown,16,may,688,1,-1,0,unknown,yes
80,29,admin.,single,secondary,no,163,yes,yes,unknown,16,may,803,1,-1,0,unknown,yes
81,37,services,divorced,secondary,no,49,yes,no,unknown,16,may,619,2,-1,0,unknown,yes
82,33,blue-collar,single,secondary,no,-416,yes,no,unknown,16,may,767,2,-1,0,unknown,yes
83,24,technician,single,secondary,no,409,yes,no,unknown,16,may,912,1,-1,0,unknown,yes
84,50,admin.,divorced,secondary,no,363,yes,no,unknown,16,may,1340,1,-1,0,unknown,yes
85,27,technician,single,tertiary,no,3706,yes,no,unknown,16,may,897,1,-1,0,unknown,yes
86,54,management,single,tertiary,no,4393,yes,no,unknown,16,may,1297,3,-1,0,unknown,yes
87,30,technician,single,secondary,no,863,yes,no,unknown,16,may,1193,5,-1,0,unknown,yes
88,34,blue-collar,married,primary,no,695,yes,yes,unknown,16,may,1064,4,-1,0,unknown,yes
89,37,management,single,secondary,no,792,yes,no,unknown,16,may,1187,4,-1,0,unknown,yes
90,41,admin.,single,secondary,no,1020,yes,no,unknown,19,may,882,1,-1,0,unknown,yes
91,47,blue-collar,married,secondary,no,863,yes,no,unknown,19,may,943,2,-1,0,unknown,yes
92,31,admin.,married,secondary,no,97,yes,no,unknown,19,may,607,1,-1,0,unknown,yes
93,31,blue-collar,married,secondary,no,754,yes,no,unknown,19,may,1022,4,-1,0,unknown,yes
94,43,services,divorced,secondary,no,1040,yes,no,unknown,19,may,552,3,-1,0,unknown,yes
95,37,management,divorced,tertiary,no,122,yes,no,unknown,19,may,1622,2,-1,0,unknown,yes
96,30,technician,single,tertiary,no,880,yes,yes,unknown,19,may,967,6,-1,0,unknown,yes
97,41,technician,married,secondary,no,501,yes,no,unknown,19,may,579,5,-1,0,unknown,yes
98,36,blue-collar,married,secondary,no,4438,yes,no,unknown,20,may,446,1,-1,0,unknown,yes
99,35,blue-collar,divorced,secondary,no,0,yes,no,unknown,20,may,1205,1,-1,0,unknown,yes

In [35]:
yp = categorical.predict(sc.transform(ct.transform([[40, "management", "married", "secondary", "no", 4025, "yes", "no", "cellular", 15, "jul", 107, 4, -1, 0, "unknown"]])))

In [36]:
yp

array([[0., 1.]], dtype=float32)

In [37]:
deposits = ['No', 'Yes']
prediction = deposits[np.argmax(yp)]
prediction

'Yes'

In [38]:
np.argmax(yp)

1